<div *ngIf="!error" class="container" style="margin-top: 100px;">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="1">Username</label>
            <input type="text" class="form-control" formControlName="username" id="1" aria-describedby="emailHelp" placeholder="Enter Username">
            <span class="help-block" style="color: red;" *ngIf="registerForm.get('username').touched && registerForm.get('username').invalid">Enter Username</span>
          </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email">
          <span class="help-block" style="color: red;" *ngIf="registerForm.get('email').touched && registerForm.get('email').invalid">Enter Email</span>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Password">
          <span class="help-block" style="color: red;" *ngIf="registerForm.get('password').touched && registerForm.get('password').invalid">Enter Password</span>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Submit</button>
      </form> 
      
</div>
<div *ngIf="error">
  <div *ngFor="let error of error">
    <p style="color: red;">{{ error.code}}</p>
    <p style="color: red;">{{ error.description}}</p>
  </div>  
</div>
<div *ngIf="success">
  <p style="color: seagreen;">Register Success</p>
</div>   


